@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


*{
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1vw;
}

#page1{
    background-image: url("../assets/home/background-home-desktop.jpg");
}

#page2{
    background-image: url('../assets/destination/background-destination-desktop.jpg');

}

h1{
    font-family: 'Bellefair', sans-serif;
    font-size: 150px;
}
h2{
    font-family: 'Bellefair', sans-serif;
    font-size: 100px;
}
h3{
    font-family: 'Bellefair ', sans-serif;
    /* font-size: 56px; */
}
h4{
    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
}


p{
    font-family: 'Barlow Condensed', sans-serif;
}

.description {
    line-height: 1.5;
    width: 30%;
    color: whitesmoke;
    position: relative;   
}

.destination hr{
    margin: 2em 0; 
    opacity: 0.5;
}

.destination p{
    line-height: 1.5;
}

.description p:first-of-type{
    text-transform: uppercase;
}

.description::after{
    content: "";
    clear: both;
}

.left{
    float: left;
    top: 20vh;
    margin-left: 10%;
}

.right{
    float: right;
    top: 20vh;
    margin-right: 10%;
}

.destination::after{
    content: "";
    clear: both;
}

.destination{
    width: 30%;
    color: whitesmoke;
    position: relative;   
}

.dest-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 5%;
    top: 18vh;
    width: 40%;
    height: 65vh;
    color: whitesmoke;
    position: relative;   
}

.dest-image h1{
    justify-self: left;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
}

.transparent{
    opacity: 0.4;
}

.dest-image img {
    height: 90%;
}

.explore{
    padding: 2em;
    height: 3em;
    width: 3em;
    background-color: white;
    color: black;
}

.destination-select{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destination-select div{
    width: 15%;
    padding: 1em;
}

.destination-select div:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.295);


}

.explore-button{
    background-color: white;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    top: 50vh;
    left: 30vw;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair ', sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

.explore-button :hover{
    box-shadow: 1em;
}



.description h1, .destination h1{
    text-transform: uppercase;
    font-size: 10vw;
}

.description p:first-of-type, .destination p:first-of-type{
    font-size: 1.5em;
}

.description p:first-of-type, .destination p:first-of-type{
    text-align: justify;
}

.destinations :hover{
    cursor: pointer;
}

.destinations span :hover{
    cursor: pointer;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    margin-top: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Barlow Condensed', sans-serif;
}

.logo-nav{
    margin-left: 1%;
}

.navigation{
    /* background-color: rgb(231, 192, 192); */

    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    list-style-type: none;
}

.navigation li a {
    color: hsl(0, 0%, 96%);
    text-decoration: none;
}

.navigation li a:hover {
    color: hsl(0, 0%, 96%);
    text-decoration: none;
}

.navigation li{
    padding: 20px 10px;
    width: 20%;
    text-align: center;
}

.marked{
    border-bottom: 2px solid white;
}

.nav ::after{
    content: "";
    display: table;
    clear: both;
}