/* -------------------- */
/* ------- Reset ------ */
/* -------------------- */

*{
    padding: 0;
    margin: 0;
}


/* -------------------- */
/* ---- Font import --- */
/* -------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bellefair&display=swap');


/* -------------------- */
/* - Body/Main styles - */
/* -------------------- */

body{
    font-size: 13px; 
}

#page1{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;

    background-image: url("../assets/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page2{
    height: 100vh;
    overflow: hidden;

    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page3{
    height: 100vh;
    overflow: hidden;

    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page4{
    height: 100vh;
    overflow: hidden;

    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 100px);
}

/* ----------------------------- */
/*----- Navigation styles ------ */
/* ----------------------------- */

nav{

    width: 100%;

    margin-top: 1%;
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    width: 50%;
    height: 100%;
    
    backdrop-filter: blur(50px);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
    align-items: center;



    list-style-type: none;
    font-size: 1.3em;
    
}

.navigation li{
    height: 100%;
    width: 25%;

    color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;

}

.navigation a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}


/* ----------------------------- */
/*---- list nav text styles ---- */
/* ----------------------------- */

.marked{
    border-bottom: 2px solid white;
}

/* ----------------------------- */
/*------- home text styles ----- */
/* ------------------------------ */

.description{
    color: whitesmoke;

    grid-column: 4 / 15;
    grid-row: 3 / 8;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* button on home page (explore) */

#explore{
    height: 24em;
    width: 24em;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    grid-column: 17;
    grid-row: 5;    

    transition: 100ms smooth;

}

#explore:hover{
    background-color: rgba(151, 151, 151, 0.5);

}

.explore-button{
    height: 70%;
    width: 70%;
    
    border-radius: 50%;
    border: none;

    text-transform: uppercase;
    cursor: pointer;
    transition: 100ms smooth;
}

.description p{
    font-family: 'Barlow', sans-serif;
    width: 50%;
    font-size: 1.5em;
    line-height: 1.8;
}


.description p:first-of-type{
    font-size: 2.2em;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}


.description h1{
    font-family: 'Bellefair', serif;
    font-size: 12em;
    text-transform: uppercase;
}

/* ----------------------------- */
/*--- destination page styles -- */
/* ----------------------------- */

.dest-image{
    overflow: hidden;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */

    grid-column: 2 / 10;
    grid-row: 1 / 8;
}

.dest-image img{
    align-self: center;
    width: 70%;
}


.dest-image h1{
    align-self: left;
    color: whitesmoke;
    text-transform: uppercase;
}

.transparent{
    opacity: 0.5;
}


#dest-descript{
    grid-column: 12 / 19;
    grid-row: 2 / 15;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}

.destination-select{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: center;
}

.unmarked:hover{
    border-bottom: 4px solid rgba(245, 245, 245, 0.3);
}

#dest-planet{
    text-transform: uppercase;
    font-size: 2em;
}

.destinations {
    width: 10%;
    height: 98%;

    font-size: 1.4em;
    padding: 0 0.5em 0.5em 0.5em;
    margin-right: 10px;
    text-transform: uppercase;
    
    color: whitesmoke;


    display: flex;
    flex-direction: row;
    justify-content: left;

    cursor: pointer;
}


.destinations span{
    text-align: left;
}


#dest-description{
    line-height: 1.9;
}

#dest-descript hr{
    opacity: 0.2;
    height: 2px;
    background-color: white;
    margin: 1em 0;
}

.planet-info{
    margin-top: 0.5em;
    height: 600px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.planet-info p{
    font-size: 2em;
}

.infos{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: start;
}

.info h3{
    font-size: 1.em;
    text-transform: uppercase;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    text-transform: uppercase;
}
.info p{
    font-size: 2.5em;
}


/* ----------------------------- */
/*------ media query tablet ---- */
/* ----------------------------- */

@media only screen and (max-width: 800px){

    #page1{
        background-image: url("../assets/home/background-home-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1024px;
        overflow: auto;
    }

    #page1{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(15, 1fr);
    }


    .description{
        grid-column: 2 / 8;
        grid-row: 1 / 8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description p{
        width: 100%;
    }
}